<h2>Adapter</h2>
<section>
  Шаблон Adapter (адаптер) — это структурный паттерн, который позволяет подружить несовместимые объекты.
  <div>
    <h3>Зачем нужен паттерн адаптер?</h3>
    <ul>
      <li>
        Отделяет и скрывает от клиента подробности преобразования различных интерфейсов.
      </li>
      <li>
        Адаптер позволяет создать объект-прокладку, который будет превращать вызовы приложения в формат, понятный стороннему классу.
      </li>
    </ul>
    <h3>В чем отличие от паттерна Фасад?</h3>
    <span>Фасад задаёт новый интерфейс, тогда как Адаптер повторно использует старый.
      Адаптер оборачивает только один класс, а Фасад оборачивает целую подсистему. <br>
      Кроме того, Адаптер позволяет двум существующим интерфейсам работать сообща, вместо того, чтобы задать полностью новый.</span>
  </div>
</section>

<ng-container>
  <button (click)="sendMessage()">Отправить сообщение</button>
  <button (click)="sendNotification()">Отправить уведомление</button>
</ng-container>
