<h2>Стратегия</h2>
<section>
    <div>
        <h3>Зачем нужен паттерн стратегия?</h3>
        <ul>
            <li>
                первое
            </li>
            <li>
                второе
            </li>
            <li>
                третье
            </li>
        </ul>
    </div>
</section>

<form>
    <h3>Сгенерировать числа фибоначчи</h3>
    <input type="number" placeholder="Количество">
    <button>Сгенерировать рекурсивно</button>
    <button>Сгенерировать циклом</button>
</form>