<h2>Observer</h2>
<section>
    Наблюдатель — это поведенческий шаблон проектирования, который позволяет определить механизм подписки на уведомления нескольких объектов о любых событиях, происходящих с объектом, за которым они наблюдают.    <div>
        <h3>Зачем нужен паттерн наблюдатель?</h3>
        <ul>
            <li>
                Паттерн Observer определяет зависимость "один-ко-многим" между объектами так, что при изменении состояния одного объекта все зависящие от него объекты уведомляются и обновляются автоматически.
            </li>
            <li>
                Паттерн Observer инкапсулирует главный (независимый) компонент в абстракцию Subject и изменяемые (зависимые) компоненты в иерархию Observer.
            </li>
        </ul>
    </div>
</section>
<h2>{{ message }}</h2>
